body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(224, 223, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider{
    width: 100%;
    overflow: hidden;
}

.slider figure div{
    float:left;
    width: 20%;
}

.slider figure img{
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.img-container{
    display: flex;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    animation: animate 30s infinite;
}

@keyframes animate {
    0%{left:0%;}
    10%{left:0%;}
    12%{left:-100%;}
    22%{left:-100%;}
    24%{left:-200%;}
    34%{left:-200%;}
    36%{left:-300%;}
    46%{left:-300%;}
    48%{left:-400%;}
    58%{left:-400%;}
    60%{left:-300%;}
    70%{left:-300%;}
    72%{left:-200%;}
    82%{left:-200%;}
    84%{left:-100%;}
    94%{left:-100%;}
    96%{left:0%;}
} 

nav{
   
    display: flex;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
  }
  #logo{
    width: 90px;
    height: 80px;
    /* border: 1px solid black; */
  }
  #logo:hover{
    cursor: pointer;

  }
  img{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }
ul ul {
  display: none;
  position: absolute;
  background-color: rgb(224, 223, 223);
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
    
}
h3:hover{
color: #C2185B;
}


li:hover > ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  list-style: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
  cursor: pointer;
  
  
}
li>ul li:hover{
  color: #C2185B;
 
}
li{
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
#offer{
  margin-top: 13px;
  margin-left: 30px;
  color: red;
}
.details{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  /* text-align: center; */
  margin-left: 35%;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.logo{
  width: 20px;
  height: 20px;
  padding-left: 30px;
}

#adminpage{
    color: red;
    margin-bottom: 20px;
    padding-bottom: 40px;
}





#parent{
    width: 70%;
    margin: auto;
}

#secWomen{
    color: rgb(130, 130, 130);
}

#topContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 35px;
    margin-left: 40px;
}

#topContainer div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
}

#topContainer div:nth-child(2) a{
    margin-top: 0px;
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 400;
}


#Vline{
    border-left: 2px solid gray;
    height: 50px;
}

#myFeed{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-items: center;
}

#myFeed img{
    width: 80%;
}

#pfeed{
    margin-left: -20%;
}

#topContainer img{
    width: 65%;
    
}

#hrline{
    border: 2px solid rgb(2, 146, 203);
}

#topsubSection{
    display: flex;
    background-color: rgb(217, 233, 239);
    margin-top: -8px;
    align-items: center;
}

#topsubSection img{ 
    width: 5%;
    margin: 10px;
}





.containers{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containers div{
    text-align: center;
    padding: 0 2px 0 2px
}


.containers img{
    width: 100%;
    padding-top: 10px;
}
  
.vieweditem{
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 22px;
}

.cardbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: white;
    
}

.cardbottom p{
    margin-top: -5px;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;

}


.cardbottom div{
    padding: 10px;
}

.cardbottom i{
    padding-right: 10px;
    color: rgb(216, 19, 88);
    font-size: 23px;
}


#off{
    font-size: 15px;
    color: rgb(112, 183, 6);

}

.cardbottom p:nth-child(2){
    margin-top: -15px;
    font-size: 15px;
    color: rgb(86, 86, 86);

    padding-top: 0px;
    margin-bottom: 3px;
}

.icon{
    width: 28%;
    display: flex;
    justify-content: space-around;

}

.cardbottom i:nth-child(2){
    padding-right: 5px;
    color: rgb(112, 183, 6);
}

.about_item{

    margin-bottom: 0px;
    margin-top: 30px;
    font-weight: 500;
}

.likes{
    color:  rgb(86, 86, 86);
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#container8{
    margin-bottom: 50px;
}

.card{
    width: 33%;
}

@media screen and (min-width:500px) and (max-width:970px){


#topContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.slider figure img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#container1 div:nth-child(3){
    display: none;
}

#container2 div:nth-child(3){
    display: none;
}

#container3 div:nth-child(3){
    display: none;
}

#container4 div:nth-child(3){
    display: none;
}

#container5 div:nth-child(3){
    display: none;
}

#container6 div:nth-child(3){
    display: none;
}

#container7 div:nth-child(3){
    display: none;
}

#container8 div:nth-child(3){
    display: none;
}
.card{
    width: 48%;
    background-color: white;
    padding: 0px;
    margin-top: 30px;
}

.card img{
    margin-top: -8px;


}
}



@media screen and (max-width:499px){
    #topContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .slider figure img{
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
    }

    h3{
        text-align: center;
    }
    #container1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container1>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }


    #container2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container2>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }

    #container3{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container3>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }

    #container4{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container4>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }

    #container5{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container5>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }

    #container6{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container6>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }

    #container7{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container7>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }

    #container8{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    #container8>div{
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: block;
        margin: auto;
        margin-top: 10px;

    }

}