body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(224, 223, 223);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{
   
    display: flex;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
  }
  #logo{
    width: 90px;
    height: 80px;
    /* border: 1px solid black; */
  }
  #logo:hover{
    cursor: pointer;

  }
  img{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }
ul ul {
  display: none;
  position: absolute;
  background-color: rgb(224, 223, 223);
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
    
}
h3:hover{
color: #C2185B;
}


li:hover > ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  list-style: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
  cursor: pointer;
  
  
}
li>ul li:hover{
  color: #C2185B;
 
}
li{
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
#offer{
  margin-top: 13px;
  margin-left: 30px;
  color: red;
}
.details{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  text-align: center;
  margin-left: 40%;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.logo{
  width: 20px;
  height: 20px;
  padding-left: 30px;
}

#main{
    display: flex;
    margin: 50px 20px 50px 20px;
}

#left{
    width: 50%;
}

#left img{
    width: 90%;
}

#SCB{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    margin-right: 10%;
    margin-top: 15px;
}

#SCB button{
    width: 32.5%;
    height: 50px;
    font-size: 18px;
    color: rgb(86, 86, 86);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0px;
    border-radius: 3px;
    background-color: white;
}

#SCB button:hover{
    color: black;
    cursor: pointer;

}



#right{
    width: 50%;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

#share{
    font-size: 25px;
}
#whatsapp{
    color: rgb(112, 183, 6);
    margin-left: 20px;
    font-size: 25px;
}

#right h3:nth-child(4){
    color: rgb(86, 86, 86);
}

#name{
    margin-top: -5px;
}

#sizeAvil button{
    width: 50px;
    height: 40px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgb(191, 191, 191);
}

#sizeAvil button:hover{
    color: rgb(224, 79, 103);
    cursor: pointer;

}

#bill h3:nth-child(4){
    color: black;
}

#addtocart button{
    width: 85%;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(155, 212, 68);
    border: 0px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    font-weight: 600;

}

#addtocart button:hover{
    color: black;
    cursor: pointer;

}


#productDetails{
    padding-right: 50px;
    text-align: justify;
}

#AbtUs{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#AbtUs p:hover{
    font-weight: 500;
    cursor: pointer;
}
    

#copyright{
    text-align: center;
}

#copyright:hover{
    font-weight: 500;
    cursor: pointer;
}


hr{
    color: rgb(163, 163, 163);
}

#bill{
    display: flex;
}

@media screen and (max-width:499px){
    #main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #left{
        width: 85%;
        margin-bottom: 30px;
    }

    #left img{
        width: 100%;
    }

    #right{
        width: 90%;
    }

    #SCB{
        margin: auto;
        margin-top: 10px
    }

}