body{
    background: #EEE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main{
    display: flex;
}

.dropdown-content{
    display: none;
}
button{
    background-color:rgb(109, 168, 21); 
    border: none; 
    color: white;
    height: 20px;
    margin-bottom: 8px; 
    text-align: left; 
    text-decoration: none; 
    display: block;
    font-size: 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover{
    background-color: darkgreen;
}
.total-items{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 16px;
    height: 80px;
}
.total-items>p:first-child{
    font-weight: bold;
    font-size: 15px;
}
.filter{
    background-color: white;
    font-family: "Roboto",Roboto,"Helvetica",Helvetica,"Arial",Arial,sans-serif;
    width: 600px;
    /* display: flex; */
    /* text-align: center; */
}
.dropdown-content>input{
    text-align: left;
}
.dropdown-content>label{
    text-align: left;
}
.dropbtn{
    /* font-size: 5px; */
    margin-right: 10px;
    /* border: 1px solid red; */
}
#allfilter{
    /* border: 2px solid rebeccapurple; */
    /* display: contents; */
    align-items: center;
    width: 90%;
    padding: 5px;

}
.dropdown-conten>input{
    width: 200%;
    color: #4CAF50;
    border-color: blue;
}
#allfilter>div{
    margin: 10px 5px 5px 5px; 
    padding-top: 8px;
}
span{
    color: #333;
}
.sortby{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.price{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.discount{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.colors{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.size{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.brand{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.type{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.category{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.occasion{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.prints{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.offers{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#container{
    /* display: flex; */
    /* margin: auto; */
    text-align: center;
}
#card{
    display: grid;
    margin: auto;
    grid-template-columns: 32% 32% 32%;
    gap:30px;
    text-align: left;
    width: 70%;
    
    /* border: 1px solid red; */
}
#card>div{
    margin-left: 8px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    /* border: 1px solid black; */
}
#card>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#card>div>img{
    /* display: block; */
    width: 100%
}
.bottomcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.bottomcard2{
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-size: 23px;
}
.bottomcard2>i:nth-child(1){
    color: rgb(216, 19, 88);
}
.bottomcard2>i:nth-child(2){
    color: rgb(112, 183, 6);
}